<mat-toolbar color="primary">
  <h1>Dynamic form builder</h1>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
      <ng-container *ngFor="let navGroup of navGroupList">
        <h4 class="nav-group-title">{{ navGroup.title }}</h4>
        <mat-list-item
          role="listitem"
          *ngFor="let navItem of navGroup.navList"
          [routerLink]="navItem.route"
          routerLinkActive="is-active"
        >
          {{ navItem.title }}
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
