@use '~@angular/material' as mat;

.container {
  height: 100%;
  mat-list-item {
    padding: 0 5vw 0 1vw;
    &.is-active {
      background-color: #eee;
      color: mat.get-color-from-palette(mat.$indigo-palette, 500);
    }
  }

}

mat-sidenav-content {
  padding: 8px;
}
