/* You can add global styles to this file, and also import other style files */
@import "./shared/forms.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.mat-raised-button {
  margin: 8px;
  font-size: 0.95rem;
}

h3, h4, strong {
  font-weight: 500;
}

code {
  padding: 2px 4px;
  color: hsl(210,8%,15%);
  background-color: hsl(210,8%,90%);
  border-radius: 3px;
}
